Source: aria2-fast
Section: net
Priority: optional
Maintainer: Patrick Ruckstuhl <patrick@ch.tario.org>
Uploaders: Kartik Mistry <kartik@debian.org>
Build-Depends: debhelper (>= 11),
               dpkg-dev (>= 1.16.1.1),
               libc-ares-dev,
               libgcrypt20-dev | libgcrypt-dev,
               libgnutls28-dev,
               libsqlite3-dev,
               libssh2-1-dev,
               libxml2-dev,
               pkg-config,
               zlib1g-dev | libz-dev
Standards-Version: 4.2.1
Homepage: https://aria2.github.io/
Vcs-Git: https://github.com/debiancn/aria2-fast.git
Vcs-Browser: https://github.com/debiancn/aria2-fast

Package: aria2-fast
Architecture: all
Depends: aria2, libaria2-fast-0, ${misc:Depends}
Recommends: ca-certificates
Description: High speed download utility - ultra high version
 Aria2 is a command line download client with resuming and
 segmented downloading. Supported protocols are HTTP/HTTPS/
 SFTP/FTP/BitTorrent and it also supports Metalink.
 .
 This is a dummy package, which drags aria2 lib containing a
 small patch to maximize aria2 download speed, thus turns
 normal aria2 frontend into an evil one.

Package: libaria2-fast-0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libaria2-0
Conflicts: libaria2-0
Replaces: libaria2-0
Description: C++ library interface to aria2 - ultra high version
 This C++ library offers interface to the core functionality
 of aria2 like networking and downloading.
 .
 This version contains a small patch to maximize aria2 download
 speed.
